* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

body {
    background-color: lightseagreen;
}

h1 {
    padding: 30px;
    color: white;
    text-align: center;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}

#div {
    position: relative;
    display: flex;
    border: 1px solid black;
    height: 300px;
    margin: auto;
    width: 400px;
    background-color: rgb(21, 109, 104) ;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#countries {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2em;
    width: 200px;
    text-align: center;
    border: none;
    background-color: transparent;
    display: block;
    margin: auto;
    color: white;
    text-shadow: 1px 0px black, -1px 0px black, 0px 1px black, 0px -1px black;
    
}

#countries option {
    background-color: black;
    color: white;
    font-size: 1.3em;
}

#button {
    display: block;
    margin: 30px auto;
    border: none;
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    text-align: center;

}

@media screen and (min-width: 600px) and (max-width: 768px) {
    #div {
        width: 400px;
    }
}

@media screen and (min-width: 768px){
    #div {
        width: 600px;
        height: 400px;
    }
}